.card-front, .card-back {
    height: 200px;
    width: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-color: transparent;
  }

  .card-front .card-button, .card-back .card-button{
    border: none;
    background-color:transparent;
    width:fit-content;
    height: auto;
    font-size: 1rem;
  }

.card-front .title{
  text-align: start;
  font-weight: 1000;
  font-size: 1.3rem;
}
.card-front .sub-title{
  font-weight: 500;
  font-size: 1rem;
}
.card-front .front-content{
  font-size: 0.7rem;
}