@import url('../App.css');

.circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-color: #34dba6;
    background-color: var(--primary-color-e);
    border-radius: 50%;
    z-index: 25;
    top: -11%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 0px 10px 0px rgba(150,0,0,0.50), inset 20px 0px 20px 0px rgba(255, 255, 255, 0.5);
  }
  

  