
/* Define the Themetic Colors for the Project */
:root {
  --primary-color-a: #ffcc00;
  --primary-color-b: #ff9900;
  --primary-color-c: #ff6600;
  --primary-color-d: #ff3300;
  --primary-color-e: #ff0000;

}

body{
  background: rgb(255,255,255);
}
.main-container{
  position: relative;
}
.small-screen-message {
  position: absolute;
  top: 30%;
  font-size: 3rem;
  font-weight: 1000;
  font-style: italic;

  display: none; 
}

@media only screen and (max-width: 785px) {
  .small-screen-message {
    display: block; 
  }
  .main-container {
    display: none;
  }
}